<section class="event_stream">
  <div class="container">
    <div class="row">
      <div class="col-md-12 pb-3">
        <a href="<%= project_event_streams_path %>" class="back_btn"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</a>
        <div class="new_event text-center pt-5">
          <h3 class="pb-4">New Event Stream</h3>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>