<section class="project_new">
  <div class="container">
    <div class="row"> 
      <div class="col-md-6 col-xs-12 text-center project_bg pt-5">
        <a href="/projects" class="back_btn"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</a>
        <%= image_tag('56.png', class: 'login_img') %>
        <h3>Edit Project </h3>
        <div class="login_inner">
          <%= render 'form' %>
        </div> 
      </div>
      <div class="col-md-6 col-xs-12 ">
        <div class="create_pro_img">
          <%= image_tag('55.png') %>
        </div>
      </div>
    </div>
  </div> 
</section>
