<section class="event_stream">
  <div class="container">
    <div class="row">
      <div class="col-md-12 pb-3">
        <a href="<%= project_time_flow_monitors_path %>" class="back_btn"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</a>
        <div class="new_event text-center pt-5">
          <h3 class="pb-4">Edit Monitor</h3>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">


 $("#alert_btn").click(function(){
    $("#alert_table").show();
    $("#alert_arrow").show();
  });
</script>
